.dark {
    /* 背景颜色 */
    --bg-color: #222;
    --bg-color2: #333;
    --bg-color3: #22222260;

    /* 字体颜色 */
    --text-color: #fff;
    --text-color2: #999;

    /* 滚动条 */
    --scroll-color: #333;
    --scroll-thumb-color: #444;

    /* 工作树 文件状态 */
    --file-status-modify-bg-color: #f3cc6220;
    --file-status-modify-text-color: #f3cc62;

    --file-status-new-bg-color: #8fd46020;
    --file-status-new-text-color: #8fd460;

    --file-status-delete-bg-color: #f3737020;
    --file-status-delete-text-color: #f37370;

    --file-status-update-bg-color: #1d39c440;
    --file-status-update-text-color: #d6e4ff;

    /* 提交历史 历史信息指向的分支标签颜色 */
    --log-ref-color: #69c0ff;
    --log-ref-bg: #bae7ff30;
    --log-border-color: #fff;

    /* 仓库要处理 变基冲突时的 提示框字体边框颜色 */
    --rebase-merge-color: #ffc069;
    /* 仓库要处理 变基冲突时的 提示框背景颜色 */
    --rebase-merge-bg-color: #ad4e0040;

    --dragline-color: #378113;
}
