.light {
    /* 背景颜色 */
    --bg-color: #f2f2f2;
    --bg-color2: #fff;
    --bg-color3: #f2f2f260;

    /* 字体颜色 */
    --text-color: #333;
    --text-color2: #999;

    --scroll-color: #fff;
    --scroll-thumb-color: #ddd;

    --file-status-modify-bg-color: #ffc06960;
    --file-status-modify-text-color: #fa8c16;

    --file-status-new-bg-color: #49aa1940;
    --file-status-new-text-color: #49aa19;

    --file-status-delete-bg-color: #d3202940;
    --file-status-delete-text-color: #d32029;

    --file-status-update-bg-color: #597ef760;
    --file-status-update-text-color: #1d39c4;

    --log-ref-color: #69c0ff;
    --log-ref-bg: #bae7ff30;

    --rebase-merge-color: #fa8c16;
    --rebase-merge-bg-color: #ffe7ba40;
}
